<%- include('./template/headers'); %>

  <body>

    <!-- Side Bar -->
    <%- include('./template/navbar'); %>

      <!-- Nav Bar -->
      <%- include('./template/sidebar'); %>

        <!-- Responsive Side Bar -->
        <%- include('./template/sidebar-responsive'); %>

          <!--Content-->
          <%- include('./template/content'); %>


            <!-- Side Bar JavaScript -->
            <script>
              let sidebarToggle = document.querySelector(".sidebarToggle");
              sidebarToggle.addEventListener("click", function () {
                document.querySelector("body").classList.toggle("active");
                document.getElementById("sidebarToggle").classList.toggle("active");
              })

              const buttonDelete = document.getElementsByClassName("buttonDelete");
              const form = document.getElementById("formDelete")
              Array.from(buttonDelete).forEach(btn => {
                btn.addEventListener("click", function () {
                  form.action = form.action + btn.value
                })
              })


            </script>

            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
              integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
              crossorigin="anonymous">
              </script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
              integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
              crossorigin="anonymous">
              </script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
              integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
              crossorigin="anonymous">
              </script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
              integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
              crossorigin="anonymous">
              </script>
  </body>

  </html>