<div class="content-wrapper">
    <div class="container">
        <div class="row mb-lg-3">
            <div class="col-lg-10">
                <p style="font-size: small;"><strong> Cars <i class="fa-solid fa-chevron-right"></i> </strong> List Car
                </p>
            </div>
            <div class="col-lg-2">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-lg-10">
                <p style="font-weight: bold; font-size: 20px;">List Car</p>
            </div>
            <div class="col-lg-2">
                <a href="/cars" type="button" class="btn btn-primary btn-sm" style="background-color:#0D28A6;"><i
                        class="fa-solid fa-plus"></i> Add New Car</a>
            </div>
            <div class="button-list">
                <a href="#" class="btn btn-primary active me-3" role="button" data-bs-toggle="button"
                    aria-pressed="true">All</a>
                <a href="#" class="btn btn-primary active me-3" role="button" data-bs-toggle="button"
                    aria-pressed="t1ue">Small</a>
                <a href="#" class="btn btn-primary active me-3" role="button" data-bs-toggle="button"
                    aria-pressed="true">Medium</a>
                <a href="#" class="btn btn-primary active me-3" role="button" data-bs-toggle="button"
                    aria-pressed="true">Large</a>
            </div>
        </div>
        <div class="container mt-4">
            <div class="row car-body mt-5">
                <% cars.map((car)=> { %>
                    <div class="col-lg-4 mt-3">
                        <div class="card"
                            style="-webkit-box-shadow: 0 0 10px #F1F3FF; box-shadow: 0 0 10px #F1F3FF; border-radius: 8px; height: 400px;">
                            <div class="card-body">
                                <img src="<%= car.photo %>"
                                    style="max-width: 100%; width: 100%; height: 55%; padding-bottom: 15%;">
                                <p class="card-tittle"><strong>
                                        <%= car.name %>
                                    </strong></p>
                                <p class="card-text" style="font-weight: bold;"> Rp. <%= car.price %> /hari </p>
                                <p class="card-tittle" style="font-size: small;">
                                    <%= car.updatedAt %>
                                </p>
                                <button value="<%= car.id %>" type="button" class="btn btn-outline-danger buttonDelete"
                                    data-bs-toggle="modal" data-bs-target="#exampleModal" style="margin-right: 3%;">
                                    <i class="fa-solid fa-trash pe-3"></i> Delete
                                </button>
                                </a>
                                <a href="/edit/<%= car.id %>" type="button" class="btn btn-primary"
                                    style="background-color:#4CAF50; width: 50%; height: 10%; font-size: 14px;"><i
                                        class="fa-solid fa-pen-to-square"></i> Edit</a>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header justify-content-center border-bottom-0">
                                        <h5 class="modal-title" id="exampleModalLabel">
                                            <img src="/images/1.png" alt="" />
                                        </h5>
                                    </div>
                                    <div class="modal-body text-center">
                                        <h5 class="fw-bold">Menghapus Data Mobil</h5>
                                        <p class="px-5 mx-4" style="font-size: 14px">
                                            Setelah dihapus, data mobil tidak dapat dikembalikan.
                                            Yakin ingin menghapus?
                                        </p>
                                    </div>
                                    <div class="modal-footer justify-content-center border-top-0">
                                        <form id="formDelete" method="post" action="http://localhost:8000/deleteCars/">
                                            <button type="submit" class="btn btn-primary button-allow">
                                                YA
                                            </button>
                                        </form>
                                        <button type="button" class="btn btn-outline-primary button-deny"
                                            data-bs-dismiss="modal">
                                            TIDAK
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>


            </div>
        </div>
    </div>
</div>
</div>