<div class="page">
    <div class="sidebar">
        <div class="sidebar-header">
            <div class="sidebar-logo-container">
                <div class="logo-container">
                    <a class="navbar-brand" href="/"></a>
                </div>
            </div>
        </div>
        <div class="sidebar-body">
            <ul class="navigation-list">
                <li class="navigation-list-item">
                    <a class="navigation-link" href="/">
                        <div class="row">
                            <div class="col-9">CARS</div>
                        </div>
                    </a>
                </li>
                <li class="navigation-list-item">
                    <a class="navigation-link" href="/">
                        <div class="row">
                            <div class="col-9">List Car</div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>